<form method="post" action="{{ path('app_bestpractice_delete', {'Node': bestpractice.Node}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bestpractice.Node) }}">
    <button class="red" id="forme2sub">Delete</button>
</form>
