<form method="post" action="{{ path('app_todolist_delete', {'ChangeId': todolist.ChangeId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ todolist.ChangeId) }}">
    <button class="red" id="forme2sub">Delete</button>
</form>
